body {
    background-color: #E6E6E6;
}

.navbar {
    margin-bottom : 1rem;
}

    .navbar a {
        color: #2D70A0;
        font-weight: bold;
    }

    .navbar a:hover {
        color: #312F30;
        text-decoration: none;
        cursor: pointer;
    }

.navbar-brand > img {
    display: inline-block;
    width: 20px;
    margin: 0 5px 2px 0;
    border-radius: 2px;
}

ul.nav.navbar-nav li {
    margin: 0 0.5rem;
}

.onboarding > .navbar {
    background-image: url('./images/nav-bg.png');
    background-size: 100% 100%;
}

img {
    transform: scale(1.5);
}
