body {
    background-color: #E6E6E6;
}

h4 {
    padding-bottom: 10px;
}

.navbar {
    margin-bottom : 1rem;
    box-shadow: 0 1px 6px 0 rgba(48, 47, 47, 0.5);
}

    .navbar a {
        color: #2D70A0;
        font-weight: bold;
    }

    .navbar a:hover {
        color: #312F30;
        text-decoration: none;
        cursor: pointer;
    }

.navbar-brand > img {
    display: inline-block;
    width: 20px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 2px;
    transform: scale(1.5);
}

ul.nav.navbar-nav li {
    margin: 0 0.5rem;
}

.onboarding > .navbar {
    background-image: url('./images/nav-bg.png');
    background-size: 100% 100%;
}

.home-hero {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;
    background-image: url('./images/hero-bg.png');
    text-align: center;
    padding: 1rem;
    background-position: center center;
    background-size: cover;
    color: #FFFFFF;
    text-shadow: 0 0 10px #6F6F6F;
}
